.ShopCategory .banner-img {
  width: 80%;
  margin: 32px auto;
  display: block;
}
.shopCategory-product {
  margin: 20px 170px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 80px;
}
.shopCategory-indexShort {
  padding: 10px;
  display: flex;
  margin: 0px 170px;
  justify-content: space-between;
  align-items: center;
}
.shopCategory-short {
  padding: 10px 2px;
  border-radius: 40px;
  border: 1px solid #888;
}
.shopCategory-indexShort p span {
  font-weight: 600;
}
.shopCategory-loadMore {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 150px auto;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background: #ededed;
  color: #787878;
}
