.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  width: 170px;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 20px;
}
.link-hr {
  border: 2px solid red;
  margin: 1px;
}
li {
  font-weight: 600;
  color: #7433ff;
  list-style: none;
  cursor: pointer;
}
.cart-login {
  display: flex;
  align-items: center;
  gap: 20px;
}
.login-btn {
  width: 100px;
  height: 40px;
  border-radius: 15px;
  padding: 10px;
  border: 1px solid grey;
}
.cart-count {
  font-size: 14px;
  width: 22px;
  height: 22px;
  background-color: red;
  color: white;
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -35px;
  margin-left: -25px;
}
@media screen and (max-width: 1280px) {
  .logo {
    font-size: 24px;
  }
  .links {
    font-size: 13px;
    gap: 12px;
  }
}
@media screen and (max-width: 1024px) {
  .nav-links {
    display: none;
  }
  .logo {
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .logo-img {
    width: 40px;
    height: 40px;
  }
  .cart-img {
    width: 30px;
    height: 30px;
  }
  .cart-count {
    width: 15px;
    height: 15px;
    font-size: 10px;
  }

  .login-btn {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .link {
    display: none;
  }
  .links {
    display: flex;
    justify-content: flex-end;
  }
}
